/** 
 * Balises
 */

 html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1; /* Permet au contenu principal de s'étendre */
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

table {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

thead {
    background-color: rgb(230, 230, 230);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

.div-action {
    display: flex;
    justify-content: center;
}


em {
    font-size: 1.6em;
    font-style:  normal;
}

img {
    border: 1px solid black;
}

input, textarea, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, textarea {
    max-width: 450px;
    max-height: 300px;
}

/** 
 * Classes
 */


.index-ajout-tache {
    max-width: 400px;
    min-width: fit-content;
    width: 300px;
    margin: auto;
    margin-top: 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.index-getion-taches {
    max-width: 1000px;
    min-width: fit-content;
    margin: auto;
    margin-top: 0;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.index-form-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.th-button {
    padding: 0;
}

.th-button:hover {
    background-color: white;
}

 .btn-filtre-tri {
    all: unset;
    padding: 12px;
    margin: 0;
    text-align: left;
}

.index-table-tri {
    width: fit-content;
}


.btnAjoutTache {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.btnAjoutTache:hover {
    background-color: #218838;
}

.btn-suppr-tache {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1.5px solid black
}

.btn-suppr-tache:hover {
    background-color: rgb(199, 2, 2);
}


.Basse {
    background-color: #bff3be;
}

.Basse:hover {
    background-color: #e4fce4;
}

.Moyenne {
    background-color: #FFD8B2;
}

.Moyenne:hover {
    background-color: #fde1c4;
}

.Elevée {
    background-color: #FC9F9F;
}

.Elevée:hover{
    background-color: #ffb8b8;
}

.Terminée {
    background-color: gray;
}

.Terminée:hover {
    background-color: lightgray;
}

.th-titre {
    max-width: 300px;
}

.td-desc {
    max-width: 500px;
}


/** 
 * Responsive
 */


 /* En dessous de 1200 px */
 @media screen and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .index-ajout-tache {
        margin-top: 30px;
    }
} 